@model IEnumerable<ECommerce.Models.Producer>

@{
    ViewData["Title"] = "Index";
}

<h1>Producer</h1>

<div class="container-fluid" style="position:relative;min-height:80vh">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 offest-md-4">
            <table class="table table-border table-hover">
                <tr>
                    <th>Profilr Picture</th>
                    <th>Full Name</th>
                    <th>Bio</th>
                    <th>Actions</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>



                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img src="@item.profilepictureURL" class="img-fluid rounded-circle" style="max-width: 120px; height: 120px;" alt="Profile Picture">
                        </td>
                        <td class="align-middle">@item.FullName</td>
                        <td class="align-middle" style="max-width:350px">@item.Bio</td>
                        <td class="align-middle">
                            <div class="d-flex" style="flex-wrap:wrap;justify-content:space-around">
                                <a class="btn btn-outline-warning mt-2 mt-md-0 mt-lg-0 " asp-controller="Producers" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                                <a class="btn btn-outline-primary mt-2 mt-md-0 mt-lg-0" asp-controller="Producers" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details</a>
                                <a class="btn btn-outline-danger mt-2 mt-md-0 mt-lg-0" asp-controller="Producers" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
                            </div>
                        </td>
                    </tr>

                }
            </table>

        </div>

    </div>

    <div style="position:fixed;right:10px;bottom:10px;">
        <a asp-action="Create" asp-controller="Producers" class="btn btn-success text-white"><i class="fa-regular fa-plus"></i> Add New</a>
    </div>

    @await Html.PartialAsync("_CreateItem", "Producers")

</div>