@using ECommerce.data
@model ECommerce.Models.Movie

@{
    ViewData["Title"] = "Details";
    var actorsData = ViewBag.Actors as List<ActorMovies>;
}


<div class="container">
    <div class="row justify-content-center">
        
            <div class="col-md-8 col-xs-10 border-primary mb-3 mt-3">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header text-white bg-info">
                            <p class="card-text align-content-center" style="height:50px">
                                    @Model.Name
                                <a class="text-white float-end align-content-center" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pencil-square"></i></a>
                                </p>

                            </div>
                        </div>
                        <div class="col-md-6">
                        <img src="@Model.ImageUrl" style="width:80%;height:450px" alt="@Model.Name" />
                        </div>

                        <div class="col-md-6" >
                        <div class="card-body">
                            <p class="card-text" style="height:20px;overflow:hidden">@Model.Description</p>
                            <p class="card-text"><b>Cinema: </b>@Model.Cinema.Name</p>
                            <p class="card-text"><b>Category: </b>@Model.MovieCategory</p>
                            <p class="card-text"><b>start Date: </b>@Model.StartDate.ToString("d")</p>
                            <p class="card-text"><b>End Date: </b>@Model.EndDate.ToString("d")</p>
                            <p class="card-text"><b>Producer: </b>@Model.Producer.FullName</p>

                                <p class="card-text">
                                    <b>Status:</b>
                                @if (DateTime.Now >= Model.StartDate && DateTime.Now <= Model.EndDate)
                                    {
                                        <span class="badge bg-success text-white">AVAILABLE</span>
                                    }
                                else if (DateTime.Now < Model.StartDate)
                                    {
                                        <span class="badge bg-primary text-white">UPCOMING</span>
                                    }
                                else if (DateTime.Now > Model.EndDate)
                                    {
                                        <span class="badge bg-danger text-white">Finished</span>
                                    }
                                </p>
                            <p class="card-text"><b>Actors:</b></p>
                            <div class="align-middle d-flex" style="overflow:auto">
                                @foreach (var actor in actorsData)
                                {
                                    <div class="text-center">
                                        <img src="@actor.Actor.profilepictureURL" class="img-fluid rounded-circle ps-1" style="max-width: 100px; height: 100px;" alt="Profile Picture">
                                        <p style="color:green"> @actor.Actor.FullName</p>
                                    </div>
                                }
                            </div>

                        </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer">
                                <p class="card-text d-flex flex-nowrap" style="justify-content:space-between;align-items:center">
                                <a class="btn btn-success text-white"><i class="bi bi-cart-plus"></i>Add to Cart ($@Model.Price)</a>
                                <a asp-action="Index"  class="btn btn-outline-primary float-end"><i class="bi bi-back"></i> Back to List</a>

                                </p>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        

    </div>
   
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Trigger the image display function when the page loads
            displayImage();

            // Function to display the image
            function displayImage() {
                var imageUrl = $("#ImageUrl").val();
                if (imageUrl) {
                    $("#profilepictureURLId").attr("src", imageUrl).show();
                } else {
                    $("#profilepictureURLId").hide();
                }
            }

            // Bind the displayImage function to the change event of #ImageUrl input
            $("#ImageUrl").on("change", displayImage);
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
